:root {
  --border-safe-padding: 8px;

  --background-color: #1b1b1b;
  --background-container-color: #2e2e2e;
  --border-container-color: #343434;
  --primary-color: #ffffff;
  --primary-color-variant: #e0e0e0;
  --primary-color-variant-darker: #bbbbbb;
  --btn-color: #494949;
}

html,
body,
#root {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}